* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    padding-top: 15px;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;

    padding-top: 100px;
}